.wrapper{width:10rem;min-height:100%;margin:0 auto;background:#fff;overflow:hidden;position:relative}
.wrapper .btnCommon{display:block;margin:0 auto;width:1.81333333rem;height:.74666667rem;text-align:center;line-height:.74666667rem;color:#fff;font-size:.32rem;background:#57a0fb;border-radius:.46666667rem}
.wrapper .more{text-align:center;font-size:.32rem;padding-bottom:.53333333rem}
.wrapper .more a{color:#c7c7c7}
.wrapper .tCommon{margin:0 auto;width:2.37333333rem;height:.41333333rem;text-align:center;background:url(img/titleBg.jpg) no-repeat center center;background-size:100% 100%;font-size:.37333333rem;color:#333;line-height:.41333333rem}
.nTrigger{width:10rem;color:#999;font-size:.34666667rem;padding:.46666667rem 0 0;border-bottom:1px solid #c7c7c7;margin-top:1.41333333rem}
.nTrigger a,.nTrigger span{display:inline-block;width:1.73333333rem;padding-bottom:.26666667rem;text-align:center;color:#999}
.nTrigger a:nth-child(1),.nTrigger span:nth-child(1){margin:0 1.06666667rem 0 2.73333333rem}
.nTrigger a.on,.nTrigger span.on{color:#57a0fb;border-bottom:.05rem solid #57a0fb;box-sizing:border-box}
.typeChoose{width:8.53333333rem;padding-left:.73333333rem;padding-right:.73333333rem;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.typeChoose span{margin:0;-webkit-box-flex:1;-ms-flex:1;-webkit-flex:1;flex:1}
.typeChoose span:nth-child(1){margin:0}
.triggerCon{width:9.2rem;padding:.48rem .4rem 0;min-height:11.06666667rem}
.newsCommon li{overflow:hidden;margin-bottom:.53333333rem;}
.newsCommon li p{width:6rem;float:left;line-height:.6rem;font-size:.32rem;padding-top:0.1rem;}
.newsCommon li p span.iTip{padding:3px 5px;box-sizing:border-box;border:1px solid #3cc56c;color:#3cc56c;border-radius:.06666667rem}
.newsCommon li p span.iGL{border: 1px solid #ff8f17;color: #ff8f17;}
.newsCommon li p a{color:#333;font-size:.37333333rem;text-decoration: none;}
.newsCommon li p span.times{display:block;color:#bdbdbd}
.newsCommon li img{float:right;width:2.82666667rem;height:1.61333333rem;margin-top:.13333333rem}
.newsCommon .raiders li span.iTip{border:1px solid #ff8f17;color:#ff8f17}
.newsContent{width:9.2rem;padding:.48rem .4rem;margin-top:1.41333333rem}
.newsContent h3{width:8rem;margin:0 auto;text-align:center;font-size:.4rem;color:#333;}
.newsContent p.publishtime{text-align:center;font-size:.32rem;color:#999;padding-top:.2rem}
.newsContent div.cont{margin-top:.4rem}
.newsContent div.cont p{font-size:.32rem;color:#666;line-height:.53333333rem}
.newsContent div.cont img{display:inline-block;margin:0 auto}
.typeContent{min-height:11.46666667rem;margin-top:0}
.hotGame .aList li{position:relative}
.hotGame .aList li .rankTip{width:1.61rem;height:1.61rem;display:block;position:absolute;top:.26666667rem;left:0;z-index:2;text-indent:-999rem}

.hotGame .aList li>div{}
.hotGame .aList li:nth-child(1) .rankTip{background:url(img/rankBg1.png); background-size:100% 100%;}
.hotGame .aList li:nth-child(2) .rankTip{background:url(img/rankBg2.png); background-size:100% 100%;}
.hotGame .aList li:nth-child(3) .rankTip{background:url(img/rankBg3.png); background-size:100% 100%;}

.allGame{margin-top:0}
.ngNotice .gRight .btnGet{background:#ff8f17}
.ngNotice .gRight p span{color:#ff8f17}
.aboutNews{width:9.2rem;padding:.53333333rem .4rem 0;border-top:.33333333rem solid #f1f1f1}
.aboutNews .hTop{border-bottom:1px solid #c7c7c7;padding-bottom:.37333333rem}
.aboutNews .hTop h6{margin:0 auto;width:2.37333333rem;height:.41333333rem;text-align:center;background:url(img/titleBg.jpg) no-repeat;background-size:100% 100%;font-size:.37333333rem;color:#333;line-height:.41333333rem}
.aboutNews .aContainer{margin:.53333333rem 0 0}
.ewmCommon p{margin-top:.48rem;line-height:.53333333rem;color:#666;font-size:.37333333rem;text-align:center}
.ewmCommon p strong{font-size:.37333333rem;color:#57a0fb}
.ewmCommon .gEwm{width:4.61333333rem;height:5rem;margin:0 auto;background:url(img/gEwm.jpg) no-repeat;background-size:100% 100%}
.ewmCommon .gEwm strong{font-size:.32rem;color:#999;display:block}
.ewmCommon .gEwm img{width:3.96rem;height:3.96rem;display:block;margin:.13333333rem auto 0}
.ewmCommon .p2{color:#999;font-size:.34666667rem}
.boxAlert{width:100%;height:100%;background-color:rgba(0,0,0,.8);position:fixed;top:0;left:0;z-index:999;text-align:center}
.boxAlert .boxContent{width:6.74666667rem;padding:.53333333rem .46666667rem;background:#fff;border-radius:.2rem;margin:40% auto 0}
.boxAlert .boxContent h6{text-align:center;font-size:.45333333rem;color:#3cc56c;}
.boxAlert .boxContent .btnSure{display:block;width:2.8rem;height:.8rem;border-radius:.4rem;border:2px solid #57a0fb;box-sizing:border-box;color:#57a0fb;text-align:center;line-height:.8rem;font-size:.4rem;margin:.4rem auto 0}
.boxAlert .boxContent .ewmCommon .gEwm{height:5.54666667rem}
.boxAlert .boxContent .ewmCommon .gEwm img{padding-bottom:.13333333rem}
.boxAlert .boxContent .ewmCommon .gEwm span{font-size:.37333333rem;font-weight:700;color:#57a0fb}
.boxAlert .boxContent p{font-size:0.38rem;color:#999999;text-align: center;padding-bottom:0.26rem}
.boxAlert .boxContent p.p1{margin-top:0.53rem}
.boxAlert .boxContent p.p2{border-bottom:1px solid #e5e5e5;padding-bottom:0.53rem}
.boxAlert .boxContent a.btnClose{text-align:center;font-size:0.4rem;color:#57a0fb;margin-top:0.4rem;display:block;text-decoration: underline;}
.gameTop{width:10rem;margin-top:1.33333333rem;padding-bottom:.53333333rem;height:7.86666667rem;position:relative}
.gameTop .gameBgImg{width:10rem;height:5.6rem}
.gameTop .gtContent{width:100%;height:3.78666667rem;position:absolute;top:4.13333333rem;left:0}
.gameTop .gtContent .t1{overflow:hidden}
.gameTop .gtContent .t1 img{width:1.90666667rem;height:1.90666667rem;display:block;margin-left:2.13333333rem;float:left}
.gameTop .gtContent .t1>div{float:left;margin-left:.37333333rem}
.gameTop .gtContent h4{font-size:.48rem;color:#fefeff}
.gameTop .gtContent h4 strong{vertical-align:middle;padding-right:.13333333rem}
.gameTop .gtContent h4 .type{padding:.02666667rem .2rem;background:url(img/bgTip.png) no-repeat;background-size:100% 100%;font-size:.26666667rem;color:#f2ad02;box-sizing:border-box}
.gameTop .gtContent p{font-size:.34666667rem;color:#666;width:5.2rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.gameTop .gtContent p strong{color:#ff8f17;font-style:italic}
.gameTop .gtContent .p1{font-size:.32rem;padding:.13333333rem 0}
.gameTop .gtContent .p1 em{padding:0 .13333333rem}
.gameTop .gtContent a.btnCommon{height:1.06666667rem;width:5.41333333rem;line-height:1.06666667rem;border-radius:.53333333rem;font-size:.45333333rem;margin-top:.53333333rem}
.gpCommon .gList{position:relative;padding:.46666667rem 0;border-bottom:1px solid #c7c7c7}
.gpCommon .gList h5{font-size:.4rem;color:#333;line-height:.4rem;padding-bottom:.21333333rem;font-weight:400;width:6.66666667rem;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.gpCommon .gList p.p1{width:6.66666667rem;line-height:.46666667rem;color:#999;margin-bottom:.26666667rem;font-size:.34666667rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.gpCommon .gList .btnGet{position:absolute;right:0;top:1.25rem;width:1.81333333rem;height:.74666667rem;border:1px solid #57a0fb;border-radius:.4rem;box-sizing:border-box;display:block;font-size:.34666667rem;color:#57a0fb;text-align:center;line-height:.74666667rem}
.gpCommon .gList .btnGeted{border:1px solid #999;color:#999}
.gpCommon .gList .btnLook{border: 1px solid #ff8f17;color: #ff8f17;background: #fff}
.gpCommon .gList:last-child{border-bottom:none}
.giftPackage{width:9.2rem;padding:.13333333rem .4rem;border-top:.33333333rem solid #f1f1f1}
.gameInfo{width:9.2rem;padding:.43333333rem .4rem;border-top:.33333333rem solid #f1f1f1;font-size:.34666667rem;color:#999}
.gameInfo p{line-height:.6rem;text-indent:2em}
.gameJT{width:10rem;padding:.53333333rem 0 .53333333rem 0rem;border-top:.33333333rem solid #f1f1f1}
.gameJT .swiper-slide{width:3.36rem;height:5.97333333rem;margin-left:.4rem;margin-right:0.16rem}
.mayLike{width:10rem;border-top:.33333333rem solid #f1f1f1}
.mayLike .top h6{width:3.26666667rem;line-height:.33333333rem}
.mayLike ul{margin-bottom:.53333333rem}
.giftCommon{overflow:hidden}
.giftCommon .gameIcon{width:1.90666667rem;height:1.90666667rem;float:left}
.giftCommon .gMsg{float:left;margin:.26666667rem 0 0 .4rem;width:4.53333333rem;overflow:hidden}
.giftCommon .gMsg h5{width:4rem;font-size:.4rem;color:#333;line-height:.4rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-bottom:.4rem;font-weight:400}
.giftCommon .btnEnter,.giftCommon .btnLook{width:1.81333333rem;height:.74666667rem;border-radius:.46666667rem;background:#57a0fb;color:#fff;font-size:.34666667rem;display:block;float:right;text-align:center;line-height:.74666667rem;margin-top:.45333333rem}
.giftName{width:9.2rem;margin-top:1.33333333rem;padding:.46666667rem .4rem .6rem}
.giftName .gnTop .btnEnter{border:1px solid #57a0fb;background:#fff;color:#57a0fb}
.giftName .cServer{margin-top:.13333333rem;font-size:.34666667rem;position:relative}
.giftName .cServer>div{overflow:hidden}
.giftName .cServer>div span{float:left;display:inline-block;vertical-align:middle;line-height:.61333333rem;padding:0 .13333333rem 0 .26666667rem}

.giftName .cServer>div .mSelect{width:6.93333333rem;float:right}
.giftName .cServer>div .mSelect .sVal{width:6.93333333rem;padding-left:.26666667rem;border:1px solid #c7c7c7;box-sizing:border-box;height:.61333333rem;line-height:.58666667rem;border-top-right-radius:.06666667rem;background:url(img/selectBg.jpg) no-repeat right center;background-size:.72rem .56rem}
.giftName .cServer>div .mSelect .allServ{position:absolute;top:.61333333rem;right:0;z-index:5;width:6.93333333rem;background:#fff;height:0;overflow:hidden;border:1px solid #c7c7c7;border-top:none;box-sizing:border-box;transition:all .2s linear}
.giftName .cServer>div .mSelect .allServ li{color:#666;padding-left:.26666667rem;height:.76666667rem;line-height:.76666667rem;border-bottom:1px dashed #c1c1c1;padding-right: 0.3rem;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.giftName .cServer .btnGift{clear:both;width:2.53333333rem;height:.8rem;display:block;text-align:center;line-height:.8rem;font-size:.34666667rem;color:#fff;margin:.4rem auto 0;background:#57a0fb;border-radius:.4rem}
.giftName .cServer p{padding-top:.2rem;font-size:.32rem;color:#c7c7c7;position:relative;padding-right: 1.2rem;}
.giftName .cServer p a.btnCopay{width:1rem;height:.53333333rem;text-align:center;line-height:.53333333rem;color:#ff8f17;border:1px solid #ff8f17;border-radius:.06666667rem;display:inline-block;position:absolute;right:0;top:.13333333rem}
.giftName .cServer p em{font-style:normal;color:#ff8f17;line-height:0.5rem;display: inline-block;width: 5.8rem;word-break: break-all;}
.giftName .cServer .jhm p span{width:1.5rem;line-height:.5rem;}
.giftName .state1{color:#666}
.giftName .state3{color:#e4e4e4}
.giftName .state3 .btnGift{color:#999;border:1px solid #999;background:#e4e4e4}
.giftCnt{width:9.2rem;border-top:.33333333rem solid #f1f1f1;padding:.13333333rem .4rem}
.giftCnt>div{padding:.3rem 0;border-bottom:1px solid #c7c7c7}
.giftCnt>div:last-child{border-bottom:none}
.giftCnt h6{font-size:.4rem;color:#333;font-weight:400}
.giftCnt p{font-size:.34666667rem;color:#999;line-height:.46666667rem;padding-top:.2rem}
.giftCnt p:nth-child(1){padding-top:0}
.otherGift{width:9.2rem;border-top:.33333333rem solid #f1f1f1;padding:.13333333rem .4rem .66666667rem}
.otherGift .top{padding:.34666667rem 0;border-bottom:1px solid #c7c7c7}
.topicInfo{width:10rem;margin-top:1.33333333rem;padding-bottom:.53333333rem}
.topicInfo img{width:10rem;height:5.13333333rem}
.topicInfo p.pinfo{padding:0 .4rem;font-size:.37333333rem;color:#333;line-height:.6rem}
.topicList{width:10rem;padding-bottom:1.06666667rem;overflow:hidden}
.topicList .tList{width:9.2rem;border-top:.33333333rem solid #f1f1f1;padding:.53333333rem .4rem}
.topicList .tList img{width:9.2rem;height:3.17333333rem;border-radius:.2rem;margin-bottom:.33333333rem}
.topicList .tList .ginfo{margin-bottom:.26666667rem;overflow:hidden}
.topicList .tList .ginfo img{width:1.24rem;height:1.24rem;display:inline-block;float:left;margin-right:.26666667rem}
.topicList .tList .ginfo>div{float:left}
.topicList .tList .ginfo h6{font-size:.4rem;color:#333;line-height:.4rem;padding:.13333333rem 0 .2rem;font-weight:normal;width:5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.topicList .tList .ginfo p{color:#999;font-size:.32rem}
.topicList .tList .ginfo p span{padding:0 .13333333rem}
.topicList .tList .ginfo p strong{font-style:italic;color:#ff8f17}
.topicList .tList .ginfo .btnCommon{float:right;margin-top:.26666667rem}
.topicList .tList .sy p{font-size:.37333333rem;color:#999;line-height:.6rem}
.myPlay{margin-top:1.33333333rem;min-height:13.06666667rem}
.myPlay .hasplay .aList{padding-bottom:.53333333rem}
.myPlay .hasplay .aList li .loginTime{clear:both;padding-top:.26666667rem;font-size:.32rem;color:#666}
.myGift{margin-top:1.33333333rem;min-height:13.06666667rem;width:10rem}
.myGift .hasGift{padding-top:.26666667rem}
.myGift .mgList{padding-bottom:0;border-bottom:.33333333rem solid #f1f1f1}
.myGift .mgList .btnLook{border:1px solid #ff8f17;color:#ff8f17;background:#fff}
.myGift .mgList .btnRecive{border:1px solid #999;color:#999;background:#fff}
.myGift .mgList .giftCommon{width:9.2rem;padding:.26666667rem 0;margin:0 auto;border-bottom:1px solid #c7c7c7}
.myGift .mgList .giftCommon .gMsg .pTitle{width:4.6rem;font-size:.37333333rem;color:#999;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.myGift .mgList .giftCommon:last-child{border-bottom:none}
.myGift .mgList .giftPackage{border-top:none}
.myGift .mgList:last-child{border-bottom:none}
.myReserve{margin-top:1.33333333rem;min-height:13.06666667rem;width:10rem}
.myReserve .hasResev{padding:0rem}
.contact{margin-top:1.33333333rem;width:9.2rem;padding:.2rem .4rem .66666667rem}
.contact li{height:.72rem;padding:.33333333rem 0;border-bottom:1px solid #ebebea}
.contact li img{width:.77333333rem;height:.72rem;vertical-align:middle;display:inline-block;margin-top:.09333333rem}
.contact li p{display:inline-block;font-size:.48rem;color:#999;vertical-align:middle}
.contact li p span{color:#57a0fb}
.contact li:last-child{border-bottom:none}
.contact .ewmCommon{margin-top:.66666667rem}
.winBind {width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.7);position: fixed;top: 0;left: 0;z-index: 99; }
.winBind .winBindContent {width: 6.5333rem;overflow: hidden;background-color: #ffffff;text-align: center;border-radius: 0.2rem;padding: 0.67rem;position: fixed;top: 30%;left: 50%;margin-left: -3.9333rem; }
.winBind .winBindContent h6 {font-size: 0.426rem;color: #999999;line-height: 0.426rem;padding-bottom: 0.8rem;border-bottom: 1px solid #e3e3e3; }
.winBind .winBindContent a.btnClose {color: #57a0fb; font-size: 0.4rem;text-decoration: underline;display: block;margin-top: 0.5333rem; }